<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include 'lauouts/css.html' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include 'lauouts/js.html' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
